{% extends 'base.html.twig' %}

{% block body %}

<main>
    <section>
        <div class="games-container">
            <a href="{{path(app.user ? 'app_snake' : 'app_login')}}">
                <div class="game-content">
                    <div class="game-title">Snake</div>
                    <div class="game-img">
                        <img src="https://placehold.co/400x500" alt="">
                    </div>
                </div>
            </a>
            <a href="{{path(app.user ? 'app_connect_four' : 'app_login')}}">
                <div class="game-content">
                    <div class="game-title">Connect four</div>
                    <div class="game-img">
                        <img src="https://placehold.co/400x500" alt="">
                    </div>
                </div>
            </a>
            <a href="{{path(app.user ? 'app_memory_game' : 'app_login')}}">
                <div class="game-content">
                    <div class="game-title">Memory game</div>
                    <div class="game-img">
                        <img src="https://placehold.co/400x500" alt="">
                    </div>
                </div>
            </a>
        </div>
    </section>
</main>

{% endblock %}


