{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('memory_game') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('memory_game') }}
{% endblock %}

{% block body %}
<main>
    <section class="memory-container">
    <div>
      <h1 id="timer">00:00:00</h1>
      <p class="alert"></p>
        
      <div class="grid">
      </div>
    </div>
    </section>
    <div class="modal">
      <div class="again">
        <h3>Congrats! you found them all!</h3>
        <p class="time">Your time is: <span id="endText"></span></p>
        <p class="bestTime">Best time: <span id="high_score"></span></p>
        <button class="btn">play again</button>
      </div>
    </div>
</main>
{% endblock %}