body, html{
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
}
.header-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    color: white;
    padding: 40px 50px;
    font-size: 28px;
}
.header-container a{
    color: white;
}
.header-title{
    text-align: center;
}
.header-profile{
    text-align: end;
}