body{
    padding: 0;
    margin: 0;
}
.grid {
    height: 540px;
    width: 630px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(238, 183, 1);
    border-radius: 50px;
}

.grid div {
    height: 90px;
    width: 90px;
}

.player-one {
    background-color: red;
    border-radius: 100%;
    box-shadow: 0px 0px 10px 4px rgb(131, 0, 0) inset;
}
.player-one-text
{
    color: red;
}

.player-two {
    background-color: blue;
    box-shadow: 0px 0px 10px 4px rgb(0, 0, 131) inset;
    border-radius: 100%;
}
.player-two-text
{
    color: blue;
}
#alert
{
    height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: rgb(161, 138, 3);
}
#title
{
    text-align: center;
    height: 28px;
}
.replay
{
    width: 400px;
    height: 300px;
    border-radius: 30px;
    background-color: #fff;
    padding: 30px 50px 50px 50px;
    text-align: center;
    text-transform: capitalize;
    display: grid;
    place-items: center;
    opacity: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 190px;
}
.replay:hover{
    opacity: 100%;
}
.connect-four-board{
    display: grid;
    place-content: center;
}
.modal
{
  display: grid;
  position: fixed;
  top: 125px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(238, 183, 1, 0.3);
  visibility: hidden;
  z-index: -100;
}
.modal-visible
{
  visibility: visible;
  z-index: 100;
}
.btn
{
  text-transform: capitalize;
  border: 2px solid rgb(238, 183, 1);
  background-color: rgb(238, 183, 1);
  color: #fff;
  border-radius: 5px;
  padding: 20px 30px;
  font-size: 20px;
  font-family: 'Cairo', sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  transition: 500ms;
}
.btn:hover
{
  cursor: pointer;
  background-color: white;
  color: rgb(238, 183, 1);
}