{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('connect_four') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('connect_four') }}
{% endblock %}

{% block body %}
<main>
    <section>
        <h3 id="title">The current Player is: <span id="player-color">Player <span id="current-player">1</span></span></h3>
        <h3 id="result"></h3>
        
        <div class="grid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div class="taken"></div>
            <div class="taken"></div>
            <div class="taken"></div>
            <div class="taken"></div>
            <div class="taken"></div>
            <div class="taken"></div>
            <div class="taken"></div>
        </div>
    </section>
    <div class="replay">
        <button class="btn">Play Again</button>
    </div>
</main>
{% endblock %}